.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 300;
}

header {
  text-align: center;
  padding: 1rem;
}

header input {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}
